* {
	box-sizing: border-box;
}

body {
	color: #1e2835;
	background-color: #f8f8f8;
	font-size: 1.5em;
}

h1 {
	background-color: #9abbff;
	margin: 0 0 20px 0;
	padding: 20px;
	text-align: center;
}

#top-message {
	text-align: center;
	padding: 10px;
}

canvas {
	width: 800px;
	height: 600px;
	border: 1px #c7cacd solid;
	display: block;
	margin: 0 auto;
}

.winner {
	font-size: 2em;
	color: green;
}